*{
    font-weight:500;
}

body{
    background-color: #292737;
    
}


details{
    color: blue;
    margin: 10px;
    border-radius: 8px;
    transition: 1s;
}

details:hover{
    color: #4591FA;
    font-size: large;
    margin: 10px;
    cursor: pointer;
    animation: efeito 1s infinite;
}

@keyframes efeito {
    to {
        box-shadow:  #4591FA 0 1px 10px;
        box-shadow:  #4591FA 0 1px 25px;
        box-shadow:  #4591FA 0 1px 40px;
    }
    from {
        box-shadow: none;
    }
}

@keyframes outro-efeito {
    to {
        text-shadow:  #4591FA 0 1px 10px;
        text-shadow:  #4591FA 0 1px 25px;
        text-shadow:  #4591FA 0 1px 40px;
    }
    from {
        text-shadow: none;
    }
}

details{
    background-color: #1D1B25;
}

summary{
    outline: 1px solid;
    border-radius: 8px;
    font-size: larger;
    font-weight: 600;
}

.divisor-title{
    font-size: large;
    border-bottom: 1px solid;
    margin: 15px;
    text-align: center;
}

h2{
    color: blue;
    /*border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    max-width: max-content;*/
    font-weight: 600;

}

p{
    font-size: larger;
    border-bottom: 1px solid;
    text-align: center;
}

a{
    display: block;
    color: #4591FA;
    padding: 10px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

a:hover{
    color: blue;
    font-size: large;
    padding: 20px;
    cursor: pointer;
    animation: outro-efeito 1s infinite;
}